@model UsuarioModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Eliminar Usuario
    </div>
    <div class="card-body">


        <form asp-action="Eliminar" asp-controller="Administrador" method="post">

            <input asp-for="IdUsuario" type="hidden" class="form-control">

            <div class="alert alert-danger" role="alert">
                ¿Quieres eliminar el Usuario  @Html.DisplayTextFor(m => m.Nombre) ?
            </div>

            <button type="submit" class="btn btn-danger"><i class="bi bi-trash3"></i></button>
            <a asp-action="Listar" asp-controller="Administrador" class="btn btn-warning">Volver a la lista</a>
        </form>


    </div>
</div>

