@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
      <img src="~/imagenes/presentación Proyecto final figuras geometricas azul.jpg" alt="Presentación Proyecto Final Figuras Geometricas Azul" style="max-width:100%;height:auto;">
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
